.text_UserName{
    -fx-text-fill: #ece0b9;
    -fx-font-family: "Comic Sans MS","Times New Roman",sans-serif;
    -fx-font-weight: bolder;
    -fx-font-size: 20px;
}

.textField_color{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #a8860a;
    -fx-font-family: "Comic Sans MS","Times New Roman",sans-serif;
    -fx-font-size: 20px;
}

.textField_colorLevel{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Times New Roman",sans-serif;
    -fx-font-size: 25px;
    -fx-font-weight: bolder;
}